.what-we-provide-header {
    padding: 120px 0;
    text-align: center;
}

.what-we-provide-text {
    margin-top: 30px;
    background-color: black;
    opacity: 0.6;
}


@media screen and (min-width: 1533px) {
    .what-we-provide-text {
        margin-top: 90px;
    }
}

@media screen and (max-width: 1532px) {
    .what-we-provide-text {
        margin-top: 70px;
    }
}